

/* [[Global CSS]] */
/* ============== */
body {
    font-weight: 400;
    line-height: normal;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
a:link,
a:visited {
    text-decoration: none;
}

.type {
    height: fit-content;
}


/* Video Container */ 

#outer_video_container {
    position: relative;
    width: 100%;
    min-height: 750px;
    text-align: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    padding-bottom: 70px;
    width: 100%;
    min-height: 750px;
    text-align: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
  
   

}
#homepage_video {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-image: none;
    object-fit: cover;
    width:100%;
    height:100%;
}

/* Typed.js Local CSS */

#outer_type  {
    font-family: 'Lato', sans-serif;
    color:white;
    position: relative;
    top: 275px;
}

#header_type {
    font-size: 40px;
    line-height: 65px;
    font-weight: 300;

}
.type {
    margin-top: -30;
    font-style:italic;
    font-weight:bold;
    font-size: 3.875rem;
    padding: 0;
    min-height: 64px;
}

/* [[Navigation]] */
/* ============== */




/* Home */


#home_section_1 {
    padding: 80px 0 50px;
    font-family: 'Lato', sans-serif;
}
.meet_the_advisors {
    background: url(media/matrix_pg_brg.jpg) no-repeat top center;
    background-size: 100% auto;
}
.section_head {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}
.section_head h1 {
    margin-bottom: 10px;
    padding: 2px;
    font-size: 3.375rem;
    font-weight: 300;
    background: var(--color-light-blue);
    background: -moz-linear-gradient(-45deg, #00b3e3 0%, #00c18b 100%);
    background: -webkit-linear-gradient(-45deg, #00b3e3 0%, #00c18b 100%);
    background: linear-gradient(135deg, #00b3e3 0%, #00c18b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b3e3', endColorstr='#00c18b', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section_head p {
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 26px;
    font-weight: 700;
    width: 43%;
}
.advisor_ct {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hover_box {
    margin: 0 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 320px;
    padding: 50px 35px;
    align-items: center;
    text-align: center;
}
.hover_box:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-transition: 0.45s;
    -moz-transition: 0.45s;
    -o-transition: 0.45s;
    -webkit-transition: 0.45s;
    transition: 0.45s;
}
.hover_box img {
    width: 155px;
    height: 57px;
}
.hover_box .plan_type {
    margin: 25px 0;
    display: inline-block;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.1em;
}
.hover_box .plan_type.green {
    width: 90%;
}
.hover_box p:nth-child(3)  {
    margin-bottom: 43px;
    font-size: 1.1rem;
}
.hover_box a.btn {
    color: white;
    display: inline-block;
    padding: 21px 25px;
    font-size: 1rem;
    border-radius: 2px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.hover_box.independent a.btn {
    background-color: lightblue;
}
.hover_box.enterprise a.btn {
    background-color: green;
}
.mobile_advisor_logos {
    display: none;
}
.mobile_advisor_logos .m_independent img,
.mobile_advisor_logos .m_enterprise img {
    width: 60px;
    height: 58px;
}
.mobile_advisor_logos .m_independent,
.mobile_advisor_logos .m_enterprise {
    position: relative;
    display: inline-block;
    padding: 15px;
    margin: 0 10px;
}
.m_independent .active,
.m_enterprise .active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -ms-transition: 0.45s;
    -moz-transition: 0.45s;
    -o-transition: 0.45s;
    -webkit-transition: 0.45s;
    transition: 0.45s;
}

.our_platform {
    position: relative;
    height: 1066px;
    background: url(media/platform_pg_brg.jpg) no-repeat top center;
    background-size: cover;
}
.section_head {
    padding-top: 70px;
}
.platform_content_ct {
    position: relative;
    display: flex;
    margin: auto;
    top: 210px;
    height: 320px;
    padding: 0 50px;
}
.platform_copy,
.platform_btn {
    width: 50%;
}
.platform_copy {
    padding: 0 50px;
    text-align: -webkit-auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.platform_copy img {
    width: 50px;
    height: 50px;
    text-align: right;
    margin-bottom: 15px;
}
.platform_copy h5 {
    font-size: 20px;
    font-weight: 800;
    color: blue;
    letter-spacing: .15em;
    text-transform: uppercase;
    padding-left: 60px;
    margin-bottom: 15px;
    text-align: right;
}
.platform_copy p {
    line-height: 24px;
    font-size: 1.1rem;
    max-width: 75%;
    text-align: right;
}
.platform_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 125px 0 50px;
    border-left: 1px solid gray;
}
.platform_btn a.btn {
    color: white;
    background-color: lightblue;
    display: inline-block;
    padding: 21px 25px;
    font-size: 16px;
    border-radius: 2px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .1em;
    border: 1px solid lightblue;
    width: 270px;
    text-align: center;
}
.platform_btn a.btn:hover {
    background-color: lightblue;
    border-color: lightblue;
}



/* Nav Bar */


.navigation{
    padding-top:30px;
    padding-bottom:30px;
    position:absolute;
    top:0;
    width:100%;
    z-index:1;
  }
  
  .navbar-right{
    float:right;
    padding-right:10%;
  }
  
  .navbar-right a{
    text-decoration:none;
    padding:10px;
    color: #fff;
    font-family:Arial;
    font-weight:900;
  }
  
  .navbar-right a:hover{
    text-decoration:underline;
  }
  .navbar-logo{
    padding-left:10%;
    font-family:Arial;
    font-size:30px;
    font-weight:bold;
    text-decoration:none;
    color:#fff; 
  }